.idea/
__pycache__/
CMake*

*.sw[op]
*.out
*.o
*.gch
*.pyc
*.cmake
*.cbp
*.a

!CMakeLists.txt
scratch/
Makefile
Session.vim
# TO-DO Have `utest' come out with an `.out' extension so that it doesn't
# entail its own ignore rule.
utest
osmos
